
    <div class="container">
        <div id="login">
        
                <input type="hidden" name="ajaxlogin" id="ajaxlogin">
                <input type="hidden" name="ajaxcode" id="ajaxcode">
                <div class="l_title">Opinion System</div>
                <dl>
                    <dd>Account:<input class="text" type="text" [(ngModel)]="loginData.username"></dd>
                    <dd>Password:<input class="text" type="password" [(ngModel)]="loginData.password"></dd>
                    <dd>Verification code: <input id="verify" type="text" [(ngModel)]="loginData.verify">
                        <!-- <img id="verify_img" src="/admin/verify" title="看不清？点击刷新"
                            onclick="javascript:this.src='/admin/verify?mt='+Math.random()"> -->
                            <span id= "svgImg" (click)="getCaptCha()"></span>
                    </dd>
                    <dd><input type="button" class="submit" (click)="doLogin()"></dd>
                </dl>
            
        </div>
    </div>